h1 {
    color:blue;

}
h3 {
    border: 2px solid powderblue;
    padding: 30px;
}
p {
    border: 2px solid palevioletred;
    padding: 30px;
}


#link-about {
    color: red;
    border-style: dotted;
}

.link {
    border: 5px solid;
}

#parrafo-importante {
    border-style: solid;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 500px;
    padding-top: 50px;
    margin-bottom: 200px;
}